.anerkennung_content_box {
    max-width: 1024px !important;
}


.fw_medium {
    font-weight: 500;
}

/* DEFINE CONTACT US SECTIONS CSS ================================================================*/
.transition_all {
    transition: all 0.3s ease-in-out;
}

.email_link_hover:hover {
    color: var(--color-dark-orange) !important;
}

.form_icons_hover:hover {
    transform: translateY(-7px) !important;
}

.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact_bg_shade {
    max-width: 500px !important;
    right: 14%;
    top: 0%;
}

.input-form {
    background: var(--color-charcoal);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 11px 15px !important;
    color: var(--color-light-gray) !important;
}

.input-form::placeholder {
    font-size: var(--font_xs) !important;
    font-weight: 500;
    color: var(--color-light-gray) !important;
}

input:focus {
    outline: none !important;
}

.form-select {
    background: var(--color-charcoal) !important;
    border: none !important;
    font-weight: 300;
    color: var(--color-light-gray) !important;
    background-image: url("../images/common/form-select-arrow.svg") !important;
    background-repeat: no-repeat !important;
    padding: 11px 15px !important;
    border-radius: 10px !important;
    background-position: right 0.75rem center !important;
}

.form-select:focus {
    box-shadow: unset !important;
}

textarea:focus-visible {
    outline: none !important;
}

/* ===================DEFINE SWEET ALERT CSS CODE=================== */
.swal2-container.swal2-center>.swal2-popup {
    color: var(--color-white) !important;
    background: var(--color-orange) !important;
    border: 2px solid var(--color-orange) !important;
}

.swal2-popup {
    color: var(--color-white) !important;

}

.swal2-title {
    color: var(--color-white) !important;

}

.swal2-styled.swal2-confirm {
    background: var(--color-white) !important;
    color: var(--color-dark-orange) !important;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.swal2-icon.swal2-success .swal2-success-ring {
    border: 0.25em solid white !important;
}

.swal2-icon.swal2-success {
    color: var(--color-white) !important;
    border-color: var(--color-white) !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: var(--color-white) !important;
    border-color: var(--color-white) !important;
}

/* ===============DEFINE FOOTER SECTION CSS=============== */
.footer_logo {
    max-width: 356px;
}

.contact_link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.contact_link:hover {
    color: var(--color-dark-orange);
}

.contact_link:hover svg path {
    fill: var(--color-dark-orange);
}

.border_top {
    border-top: 1px solid #192532;
}

.footer_link_hover:hover {
    color: var(--color-dark-orange);
}

.text_copyright_hover:hover {
    opacity: 1 !important;
}

@media (max-width:991.98px) {
    .footer_logo {
        max-width: 250px !important;
    }
}

@media (max-width:575.98px) {
    .input-form {
        padding: 6px 15px !important;
    }

    .footer_logo {
        max-width: 180px !important;
    }
}

/* ====================== NRNF CSS =========================== */
.text_dark_orange {
    color: var(--color-dark-orange) !important;
}

.deine_box_parent {
    background-image: url("../images/home/bg-deine-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

button:focus-visible {
    outline: unset !important;
    box-shadow: unset !important;
}

.border_radius_10px {
    border-radius: 10px !important;
}

/* .partners_common_border_top {
    border-top: 1px solid var(--color-gray-500);
} */

.partners_common_border_top {
    border-top: 1px solid var(--color-eclipse);
}


.review_slider_section_parent {
    background: var(--color-extra-light-black) !important;
    border-radius: 17px;
    max-height: 455px !important;
}

.video-container {
    max-height: 455px !important;
}

.video-container video {
    max-height: 475px !important;
}

.cursor_pointer {
    cursor: pointer !important;
}

.slider-control-btn,
.slider-control-btn img {
    min-width: 36.262px;
    min-height: 36.262px;
    transform: translate(0%, 0%) !important;
}

.slider-control-btn:hover img {
    transform: scale(1.112) translateY(-4px);
}

.review_para {
    max-width: 342px !important;
}

.slider-control-btn::before,
.slider-control-btn::after {
    content: unset !important;
}

@media (max-width:1299.98px) {
    .review_para {
        font-size: 18px !important;
    }

    .video-container {
        max-height: 425px !important;
    }
}

@media (max-width:1199.98px) {
    .review_para {
        font-size: 15px !important;
    }

    .slider-control-btn,
    .slider-control-btn img {
        min-width: 28px;
        min-height: 28px;
    }

    .play-button {
        max-width: 54px !important;
    }

    .video-container {
        max-height: 312px !important;
    }
}

@media (max-width:991.98px) {
    .middle_section h2 {
        font-size: 30px;
    }

    .middle_section h4,
    .middle_section p {
        font-size: 14px;
    }

    .review_slider_section_parent {
        max-height: 100% !important;
    }

    .video-container {
        max-height: 100% !important;
    }

    .slider-control-btn,
    .slider-control-btn img {
        min-width: 34px;
        min-height: 34px;
    }

    .review_para {
        font-size: 17px !important;
    }
}

@media (max-width:991.98px) {
    .review_para {
        max-width: 342px !important;
    }
}