@import url(./root.css);

/* CONTACT HERO START HERE */
.contact_hero_link:hover {
  color: var(--color-light-orange) !important;
}

.contact_hero_link svg path {
  fill: var(--color-light-orange) !important;
}

.contact_hero_link svg path {
  transition: all 300ms linear;
}

.contact_hero_layer {
  top: 10%;
  z-index: -1;
  max-width: 1254px;
}

.hero_map {
  min-height: 300px !important;
}
.vision_top_line::after{position: absolute;
content: '';
height: 2px;
width: 250px;
left: 50%;
transform: translateX(-50%);
background-color: var(--color-light-orange);
top: -40%;
}
.filmproduction_box {
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 1);
  padding: 30px 30px 30px 81px;
  border-radius: 16px;
}
@media (min-width:992px) {
  .vision_top_line::after {
    top: -10%;
    width: 321px;
  }
}
@media (min-width:1200px) {
  .hero_map {
    max-width: 576px;
    min-height: 482px !important;
  }


}
@media (min-width:1536px) {
  .hero_map {
    max-width: 100%;
  }


}