@import url(./root.css);

/* navbar */


/* hero */



/* services */
#myVideo {
  width: 100%;
  min-height: 386px;
  cursor: pointer;
}




/* THIRD SECTION CSS */
 .Unser_number_circle {
   height: 60px;
   width: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-night-rider) !important;
   border-radius: 100px;
 }

 .unser_cards {
   max-width: 882px;
   border-radius: 15px;
   padding: 30px 20px;
   color: white;
   font-size: 30px;
   font-weight: 700;
   margin: auto;
   box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.07);
 }

 .learn_more:hover span svg {
   transform: translateX(5px);
 }

 .unser_cards p {
   font-size: var(--font-md);
   line-height: 140.83%;
   color: var(--color-manatee);
 }

 .card_1 {
   z-index: 0;
   scale: 1;
   position: relative;
 }

 .card_2 {
   z-index: 1;
   position: relative;
 }

 .card_3 {
   z-index: 2;
   position: relative;
 }

 .card_4 {
   z-index: 3;
   position: relative;
 }

 @media (min-width: 576px) {
   .Unser_number_circle {
     height: 70px;
     width: 70px;
   }

   .unser_cards {
     padding: 30px;
   }
 }

 @media (min-width: 768px) {
   .unser_cards {
     padding: 40px 60px;
   }

   .Unser_number_circle {
     height: 100px;
     width: 100px;
   }
 }

